/* GENERAL */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    display: flex;
    width: 100%;
    height: auto;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background: #FAFAFA;
}

body.customize-support {
    min-height: calc(100vh - 32px);
}

.container {
    margin: 0 auto;
}

/* SINGLE */

.single-content {
    padding: 2em 0;
}

.single-content .container > *:last-child {
    margin-bottom: 0;
}


.single-content .post-thumbnail-content {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    align-items: center;
}

.single-content .post-thumbnail-content img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
}

.single-content h1 {
    font-size: 3em;
}

.single-content h2 {
    font-size: 2.3em;
}

.single-content h3 {
    font-size: 2em;
}

.single-content h4 {
    font-size: 1.7em;
}

.single-content h5 {
    font-size: 1.5em;
}

.single-content h6 {
    font-size: 1.2em;
}

.single-content h1,
.single-content h2,
.single-content h3,
.single-content h4,
.single-content h5,
.single-content h6,
.single-content ul {
    margin-bottom: .5em;
}


.single-content p {
    line-height: 1.5em;
    margin-bottom: 2em;
}

.single-content .wp-block-group,
.single-content .wp-block-cover,
.single-content .wp-block-media-text,
.single-content .wp-block-table,
.single-content .wp-block-audio {
    margin-bottom: 2em;
}

.single-content .wp-block-quote.is-large, 
.single-content .wp-block-quote.is-style-large {
    margin-bottom: 2em;
}

.single-content blockquote p {
    margin-bottom: 1em;
}

.single-content ul {
    padding-left: 1.5em;
    list-style-type: none;
}

.single-content ol {
    padding-left: 1.5em;
}

.single-content ul li,
.single-content ol li {
    margin-bottom: 1em;
    position: relative;
}

.single-content ul li::before {
    content: "";
    width: 5px;
    height: 5px;
    background: #000;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 8px;
    left: -12px;
}

.single-content .blocks-gallery-grid {
    padding-left: 0;
}

.single-content .blocks-gallery-grid li::before {
    display: none;
}

.single-box {
    background: #fff;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0, .1);
}

/* FOOTER */

.main-footer {
    padding: 2em 0;
    background: #fff;
    margin-top: auto;
    width: 100%;
}

.main-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-footer img {
    width: auto;
    max-width: 160px;
    display: block;
    height: auto;
}

.main-footer .social {
    list-style-type: none;
    display: flex;
    font-size: 1.6em;
}

.main-footer .social li {
    margin-left: .5em;
}

/* RESPONSIVE */

@media (max-width: 768px) {
    .container {
        width: calc(100% - 1em);
    }

    .single-content .post-thumbnail-content {
        width: calc(100% - .5em);
    }

    .single-content .wp-block-media-text {
        display: flex;
        flex-direction: column;
    }

    .single-content .wp-block-media-text img {
        margin-bottom: 2em;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .container {
        width: 740px;
    }

    .single-content .post-thumbnail-content {
        width: 750px;
    }
}

@media (min-width: 1025px) and (max-width: 1250px) {
    .container {
        width: 992px;
    }

    .single-content .post-thumbnail-content {
        width: 1000px;
    }
}

@media (min-width: 1251px) {
    .container {
        width: 1200px;
    }

    .single-content .post-thumbnail-content {
        width: 1240px;
    }
}